<ion-content >
  <div class="content">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-searchbar search-icon="/assets/images/SearchIcon.svg" placeholder="" [(ngModel)]="search" (ngModelChange)="update()"></ion-searchbar>
        </ion-col>
        <ion-col size="auto">
          <img class="location" (click)="goToMap()" src="/assets/images/Location.svg">
        </ion-col>
      </ion-row>
    </ion-grid>
    <div style="text-align: center;" *ngFor="let annonce of annonces; let i = index;">
      <app-annonce-home annonceId="{{annonce.id}}"></app-annonce-home>
      <app-pub *ngIf="i%3==2"></app-pub>
    </div>
  </div>
</ion-content>