<ion-content >
  <div class="content">
    <ion-grid>
      <ion-row>
        <ion-col size="10">
          <ion-searchbar search-icon="/assets/images/SearchIcon.svg" placeholder=""></ion-searchbar>
        </ion-col>
        <ion-col>
          <img class="location" (click)="goToMap()" src="/assets/images/Location.svg">
        </ion-col>
      </ion-row>
    </ion-grid>
    <div style="text-align: center;" *ngFor="let annonce of annonces">
      <app-annonce-home annonceId="{{annonce.id}}"></app-annonce-home>
    </div>
  </div>
</ion-content>