.content {
    margin-top: 60px;
}

.location {
    border: solid #007CBE;
    border-radius: 50%;
    padding: 5px;
}

ion-searchbar {
    color: #EF445D;
}
ion-content {
    --background: url('/assets/images/Background.svg') 0 0/100% 100% no-repeat;
    background-color: white;
}

ion-button {
    --background:#EF445D;
    --background-hover:#EF445D;
}