div{
    display: inline-block;
    height: 100%;
    max-width: 200px;    
}
img {
    border-radius: 15px;
    width: 100%;
    max-width: 200px;
    height: 100%;
    object-fit: cover;
    vertical-align: top;
}
ion-chip {
    display: inline;
    left: -205px;
    top: -7px;
    vertical-align: bottom;
    --background: #FFFFFF;
    --color: #EF445D;
}
