<ion-content class="ion-padding">
  <div class="ion-text-center" style="margin-top: 5%; margin-bottom: 7%">
    <h1>Bienvenue</h1>
  </div>
  <p>EcoWaste est une application mobile luttant contre le gaspillage alimentaire. Vous pouvez récupérer ou donner
  gratuitement des aliments, mais aussi rencontrez des personnes partageant votre combat.</p>
  <ion-list >
    <form [formGroup]="form" (ngSubmit)="login()" style="margin-bottom: 3%">
      <ion-item>
        <ion-label position="stacked"></ion-label>
        <ion-input formControlName="email" placeholder="Email" [required]="true"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked"></ion-label>
        <ion-input formControlName="password" placeholder="Mot de passe" type="password" [required]="true">
        </ion-input>
      </ion-item>
      <ion-button type="submit" class="center" [disabled]="!form.valid">Se connecter</ion-button>
    </form>
  </ion-list>
  <p class="ion-text-center">Première connexion ? <strong (click)="goToRegister()">Créer votre compte</strong></p>
  <p class="ion-text-center" (click)="goToMdpOublie()"><strong>Mot de passe oublié ? </strong> </p>
  <ion-grid>
    <ion-row>
      <ion-col size="3"></ion-col>
      <ion-col size="2">
        <img src="https://upload.wikimedia.org/wikipedia/commons/6/60/Tramway_de_Québec_%281897%29_-_Cercle_blanc.svg"/>
      </ion-col>
      <ion-col size="2">
        <img src="https://upload.wikimedia.org/wikipedia/commons/6/60/Tramway_de_Québec_%281897%29_-_Cercle_blanc.svg" />
      </ion-col>
      <ion-col size="2">
        <img src="https://upload.wikimedia.org/wikipedia/commons/6/60/Tramway_de_Québec_%281897%29_-_Cercle_blanc.svg" />
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card color="danger">
    <ion-card-content [hidden]="!error">
      {{errorMessage}}
    </ion-card-content>
  </ion-card>
  
</ion-content>
