
<ion-content>
  <div class="header">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/tab/accueil"></ion-back-button>
      </ion-buttons>
      <ion-avatar>
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
  </div>
  <div class="ion-padding content">
    <p>Champs obligatoires* </p>
    <ion-list>
      <form [formGroup]="form" (ngSubmit)="update()">
        <ion-item>
          <ion-input formControlName="firstname" placeholder="Prénom*" value="{{prenom}}" required="true"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input formControlName="lastname" placeholder="Nom*" value="{{nom}}" required="true"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input formControlName="age" placeholder="Age*" value="{{age}}" required="true"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input formControlName="postalCode" placeholder="Ville* (code postal)" value="{{ville}}" required="true"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input formControlName="bio" placeholder="Bio (parlez-nous de vous)" value="{{bio}}" required="false"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Notifications messages</ion-label>
          <ion-checkbox formControlName="bmessages" checked="{{bmessages}}"></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Notifications actualités</ion-label>
          <ion-checkbox formControlName="bnews" checked="{{bactus}}"></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Engagement sur l'honneur</ion-label>
          <ion-checkbox formControlName="bhonor" checked="{{bhonneur}}"></ion-checkbox>
        </ion-item>
        <ion-item >
          <ion-label text-wrap>Vos données peuvent être récoltées pour que nous puissions les analyser et cconnaître nos performances.</ion-label>
          <ion-checkbox formControlName="bdata" checked="{{bdonnees}}"></ion-checkbox>
        </ion-item>
        <ion-button type="submit" class="center" [disabled]="!form.valid">Enregistrer</ion-button>
      </form>
    </ion-list>
  </div>
</ion-content>