.header {
    width: 100%;
    height: 150px;
}

ion-buttons {
    position: relative;
    padding-top: 80px;
}

ion-avatar {
    margin: auto;
    margin-top: -40px;
    width: 120px;
    height: 120px;
}

.content {
    margin-top: 40px;
    background-image: url("/assets/images/Background.svg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

ion-list {
    text-align: center;
    
}

ion-list {
    background-color: transparent;
}

ion-item {
    color: #EF445D;
    --background: transparent;
}

p {
    color: red;
}