ion-content {
    text-align: center;
}

div {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}


.editDays {
    border: solid red;
    width: 10%;
    height: 10%;
}
.content {
    background-image: url("/assets/images/Background.svg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}