.content {
    margin-top: 50px;
    background-image: url("/assets/images/Background.svg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.location {
    border: solid #007CBE;
    border-radius: 50%;
    padding: 5px;
}