<ion-content class="ion-padding">
  <div class="content" style="padding-top: 60px;">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tab/accueil" icon="/assets/images/Retour en arriere.svg" text=""></ion-back-button>
    </ion-buttons>
    <h1 >Mes courses</h1>
  <img src="/assets/images/Pommy 3.svg" *ngIf="products.length > 0">
  <div *ngFor="let product of products">
    <app-produit image="{{product[1].image}}" count="{{user.products[product[0]].count}}" expires="{{user.products[product[0]].expires}}" name="{{product[0]}}"></app-produit>
  </div>
  <p>Me notifier avant <strong contenteditable="true" class="editDays" id="notifyDaysBeforeExpires">{{user.notifyDaysBeforeExpires}}</strong> jours <ion-button (click)="confirm()" style="--background:#EF445D">Valider</ion-button></p>
  <ion-button (click)="reset()" style="--background: #007CBE;">Réinitialiser la liste</ion-button>
  </div>
  
</ion-content>