<div>
  <ion-grid>
    <ion-row>
      <ion-col>
        <img src="{{image}}" />
      
        <ion-button fill="outline" size="small" (click)="decrement()">-</ion-button>
        <ion-button fill="outline" size="medium" disabled="true" [id]="'count '+name">{{count}}</ion-button>
        <ion-button fill="outline" size="small" (click)="increment()">+</ion-button>
        
      </ion-col>
      <ion-col>
        <!-- <strong contenteditable="true" [id]="name">{{expires}}</strong> -->
        <ion-datetime-button id="dt{{name}}" color="danger" datetime="{{name}}" ></ion-datetime-button>
          <ion-modal [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime  presentation="date" id="{{name}}" value="{{expires}}" required="true"></ion-datetime>
            </ng-template>
          </ion-modal>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>