img {
    border: solid #FBB13C;
    border-radius: 50%;
    padding: 8px;
    background-color: white;
    width: 45px;
    height: 45px;
}

ion-toggle {
    --background-checked: #00AF54;
    --background: #EF445D;
}

p {
    color: #FBB13C;
}