ion-content {
    --background: url('/assets/images/Background.svg') 0 0/100% 100% no-repeat;
    background-color: white;
}

.content {
    margin-top: 75px;
    text-align: center;
}

h1 {
    
    color: #EF445D;
}