

  <ion-grid>
    <ion-row>
      <ion-col>
        <img class="annonceImage" src="/assets/images/pub.jpeg">

      </ion-col>
    </ion-row>
    <ion-row class="info-row ion-align-items-start ion-justify-content-between">
      <ion-col class="ion-align-self-start" style="text-align: left; margin-left: -6px;">
        <ion-chip>Uber Eats</ion-chip>

      </ion-col>
      <ion-col>
      </ion-col>

      <ion-col>
        <ion-grid>
          <ion-row>
          </ion-row>
          <ion-row>
          </ion-row>
        </ion-grid>

      </ion-col>

    </ion-row>
  </ion-grid>


  <!--<div class="aliment">{{annonce.aliment}}</div>-->

