<img src="/assets/images/Retour en arriere.svg" class="back" (click)="goToHome()">
<img src="/assets/images/Filtre.svg" class="filter" (click)="openPopOver($event)">
<div id="map"></div>

<ion-popover #popover id="popover"  [isOpen]="isOpen" (didDismiss)="isOpen = false">
    <ng-template>
        <ion-content class="ion-padding" style="text-align: center;">
            <h2><strong>Filtrez vos recherches</strong></h2>
            <ion-list style="text-align: left;">
                <ion-input placeholder="Un produit en particulier ?"></ion-input>
                <ion-input placeholder="Entrez une adresse"></ion-input>
                <ion-item>
                    <ion-label>Elargir à 5 km</ion-label>
                    <ion-toggle></ion-toggle>
                </ion-item>
                <ion-item>
                    <ion-label>Elargir à 10 km</ion-label>
                    <ion-toggle></ion-toggle>
                </ion-item>
                <ion-item>
                    <ion-label>Elargir à 20 km</ion-label>
                    <ion-toggle></ion-toggle>
                </ion-item>
                <ion-item>
                    <ion-label>Boissons</ion-label>
                    <ion-toggle></ion-toggle>
                </ion-item>
                <ion-item>
                    <ion-label>Conserves</ion-label>
                    <ion-toggle></ion-toggle>
                </ion-item>
                <ion-item>
                    <ion-label>Fruits & Légumes</ion-label>
                    <ion-toggle></ion-toggle>
                </ion-item>
                <ion-item>
                    <ion-label>Oeufs</ion-label>
                    <ion-toggle></ion-toggle>
                </ion-item>
                <ion-item>
                    <ion-label>Pains</ion-label>
                    <ion-toggle></ion-toggle>
                </ion-item>
                <ion-item>
                    <ion-label>Produits laitiers</ion-label>
                    <ion-toggle></ion-toggle>
                </ion-item>
            </ion-list>
            <ion-button>Réinitialiser</ion-button>
        </ion-content>
    </ng-template>
</ion-popover>