div {
    text-align: center;
    
    img {
        position: relative;
        width: 40px;
        height: 40px;
        border: solid #FBB13C;
        border-radius: 50%;
        padding: 6px;
        background-color: white;
        top: 20px;
    }
    ion-input {
        --color: #EF445D;
        --border: #EF445D;
        
    }
    ion-button {
        --border-color: #EF445D;
        --color: red
        --background: white;
        margin-left: 10 px;
    }
    ion-button[size="small"] {
        width: 30px;
    }
    strong {
        top: 10px;
        position: relative;
    }
}

ion-datetime-button {
    margin-top: 10px;
    
    
}


.date, .date:hover {
    --background: #EF445D;
    color: white;
}


ion-button {
    --background: white;
    color: black;
}

