<div>
  <ion-grid>
    <ion-row>
      <ion-col style="text-align: right;">
        <p style="right: 50px;">{{name}} </p>
        <img src="{{image}}" />
        <ion-button fill="outline" size="small" (click)="decrement()">-</ion-button>
        <ion-button fill="outline" size="medium"  [id]="'count '+name">{{count}}</ion-button>
        <ion-button fill="outline" size="small" (click)="increment()">+</ion-button>
      </ion-col>
      <ion-col style="text-align: left; top: 20px">
        <ion-button id="modal{{name}}" class="date">{{dateFormat}}</ion-button>
        <ion-datetime-button hidden id="dt{{name}}" color="danger" datetime="{{name}}" style="top: 0; position:absolute"></ion-datetime-button>
          <ion-modal [keepContentsMounted]="true" trigger="modal{{name}}">
            <ng-template>
              <ion-datetime  presentation="date" id="{{name}}" value="{{expires}}" required="true" [(ngModel)]="expires"></ion-datetime>
            </ng-template>
          </ion-modal>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>