<ion-content>
  <div class="ion-padding content">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tab/accueil" icon="/assets/images/Retour en arriere.svg" text=""></ion-back-button>
    </ion-buttons>
    <h1>Messages</h1>
    <p class="subtitle">Personnes avec qui vous avez déjà échangé</p>
    <div *ngFor="let message of messages">
      <app-message-list routerLink="{{message.link}}" text="{{message.text}}" isRead="{{message.read}}" src="{{message.photoURL}}"></app-message-list>
    </div>
  </div>
</ion-content>