ion-content {
    --background: url('/assets/images/Background.svg') 0 0/100% 100% no-repeat;
}

.content {
    padding-top: 75px;
    text-align: center;
}

h1 {
    color: #EF445D;
}

.subtitle {
    color: #EF445D;
}
