ion-content {
    --background: url('/assets/images/Background.svg') 0 0/100% 100% no-repeat;
    background-color: white;
}
ion-searchbar {

    padding-inline: 0;
}
.content {
    padding-block: 75px;
}

.tags-wrapper{
    height: 45px;
}

.cards-wrapper{
    height:230px;
    padding-bottom: 10px;
}
.scrolling-wrapper {
    overflow-x: visible;
    overflow-y: hidden;
    white-space: nowrap;
    vertical-align: top;
}

h1 {
    color: #EF445D;
}
.separateur {
    background-color: #EF445D;
    margin-left: 5px;
    border: #EF445D solid 1px;
    margin-top: 20px;
    margin-bottom: 20px;
}

app-life-hack-card{
    margin-right: 10px;
    
}