<ion-content>
  <div class="ion-padding content">

    <ion-searchbar placeholder="Rechercher une recette" [(ngModel)]="search" (ngModelChange)="update()"></ion-searchbar>

    <div *ngIf="!search; else recherche">
      <div class="scrolling-wrapper tags-wrapper">
        <app-tag title="Avocat"></app-tag>
        <app-tag title="Courgettes farcies"></app-tag>
        <app-tag title="Gâteau aux pommes"></app-tag>
      </div>
      <div class="separateur"></div>
      <h1>Life hack du moment</h1>
      <div class="scrolling-wrapper cards-wrapper">
          <app-life-hack-card *ngFor="let x of allRecettes" img={{x.img}} title={{x.title}}></app-life-hack-card>
      </div>
      <div class="separateur"></div>
      <h1>Recettes</h1>
      <div class="scrolling-wrapper cards-wrapper">
          <app-life-hack-card *ngFor="let x of allRecettes" img={{x.img}} title={{x.title}}></app-life-hack-card>
      </div>
    </div>
    
    <ng-template #recherche>
      <div class="scrolling-wrapper cards-wrapper">
        <app-life-hack-card *ngFor="let x of recettes" img={{x.img}} title={{x.title}}></app-life-hack-card>
    </div>
    </ng-template>


  </div>
</ion-content>