
<ion-content>
  <div class="ion-padding content">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tab/accueil" icon="/assets/images/Retour en arriere.svg" text=""></ion-back-button>
    </ion-buttons>
    <ion-avatar>
      <img src="/assets/images/Pommy 3.svg" />
    </ion-avatar>

    <h1 class="">Foire aux questions</h1>
    <details>
      <summary>
        <h2>Question 1</h2>
        <h5>Lorem ipsum dolor sit amet consectetur?</h5>
      </summary>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate, est ducimus? Iusto in voluptatum corrupti,  
        <img src="https://via.placeholder.com/400x300"/>
        asperiores error soluta tempore ea, voluptates sit repudiandae eum velit quis illum magnam, suscipit reiciendis.</p>
    </details>
    <details>
      <summary>
        <h2>Question 2</h2>
        <h5>Lorem ipsum dolor sit amet consectetur adipisicing?</h5>
      </summary>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odit sunt pariatur voluptatem dolores at eos obcaecati ipsam iste cupiditate dignissimos.</p>
    </details>
    <details>
      <summary>
        <h2>Question 3</h2>
        <h5>Lorem ipsum dolor sit amet consectetur, adipisicing elit?</h5>
      </summary>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate, est ducimus? Iusto in voluptatum corrupti, asperiores error soluta tempore ea, voluptates sit repudiandae eum velit quis illum magnam, suscipit reiciendis.</p>
    </details>
  </div>
</ion-content>