
<ion-content>
  <div class="ion-padding content">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tab/accueil" icon="/assets/images/Retour en arriere.svg" text=""></ion-back-button>
    </ion-buttons>
    <ion-avatar>
      <img src="/assets/images/Pommy 3.svg" />
    </ion-avatar>

    <h1 class="">Foire aux questions</h1>
    <details>
      <summary>
        <h2>Application EcoWaste</h2>
      </summary>
      <h3>Qu’est-ce que EcoWaste ?</h3>
      <p>EcoWaste est une application mobile qui permet de redonner des produits alimentaires entre particuliers, qui met en relation les donneurs et les receveurs.<br>
        L’application permet de lutter contre le gaspillage alimentaire, et propose plusieurs autres astuces pour se lancer dans ce mouvement.</p>
        
      <h3>A qui la plateforme est-elle destinée ?</h3>
      <p>EcoWaste est destinée aux consommateurs de grandes et petites surfaces, aux personnes touchée par la lutte contre le gaspillage, les étudiants et les personnes en manquent de moyens financiers.</p>
      
      <h3>Comment créer un compte sur EcoWaste  ?</h3>
      <p>C’est très simple ! Lorsque vous installerez l’application, Pommy notre Mascotte vous aidera étapes par étapes pour créer votre compte.</p>
      
      <h3>EcoWaste est-il sûr ?</h3>
      <p>Nous privilégions la sécurité avant tout et nous invitons nos utilisateurs à passer une procédure de vérification d'identité simple. Il vous suffira d’envoyer un care d’identité à nos collaborateurs pour qu’il v alide votre prodil. Une fois validée, vous aurez une icône correspondante sur votre profil qui sera visible par les autres utilisateurs.</p>
    </details>
      
      <details>
        <summary>
          <h2>Je suis donneur</h2>
        </summary>
        <h3>De quoi ai-je besoin pour poster une annonce ? </h3>
        <p>Vos futurs receveurs veulent en savoir un peu plus sur vous, c’est pourquoi vous devez avoir un profil complet et vérifié avant de poster votre première annonce. Vous pouvez remplir toutes les informations nécessaires dans la section Mon Profil, en haut à droite de la page d’accueil. Pour finaliser votre annonce, vous devrez choisir un point relais, pour faire l’change dans un lieu sur, avec nos partnaires pour vérifier que tout se passe bien. Vous pourrez par la suite être noté par vos différents receveurs.</p>
        <h3>Comment je poste mon annonce ?</h3>
        <p>Pour proposer votre annonce, connectez-vous à votre compte et cliquez sur l’onglet Poster une annonce, et remplissez les informations nécessaires et attendez que quelqu’un réserve votre produit !
          Une fois réservé, vous pourrez convenir d’un rendez-vous avec votre receveur.</p>
        <h3>Comment dois-je me préparer ?</h3>
        <p>Préparez votre produit pour qu’il puisse être récupéré convenablement par nos points relais aprtenaires. <br>
          Puis, vous n’aurez plus qu’à attendre que quelqu’un le choississe pour aller le livrer en temps et en heure !</p>
    </details>
    <details>
      <summary>
        <h2>Je suis receveur</h2>
      </summary>
      <h3>Qu’est-ce qui se passe si j’annule ma réservation ?</h3>
      <p>Il serait dommage que vous annuliez votre réservation, car le donneur perdra une chance de redonner son produit avant qu’il ne périme. Nous vous demandons donc d'annuler votre réservation uniquement en dernier recours. En cas d’annulation :
        le donneur remettra son annonce en ligne et vous ne pourrez plus dialoguer avec, à moins de réserver un autre produit mis en donnation.</p>
      <h3>Dois-je payer mon produit ?</h3>
      <p>Non ! EcoWaste est une application totalement gratuite, qui lutte contre le gaspillage alimenatire et aide les personnes dans le besoin.</p>
      <h3>Comment puis-je annuler ma réservation ?</h3>
      <p>Vous devez en informer le donneur par message, pour que ce dernier s’occupe de remettre son annonce en ligne.</p>
      <h3>Comment faire une demande de réservation d’un produit ?</h3>
      <p>Sélectionnez le produit qui vous intéresse, et cliquez sur le bouton Réserver. Vous serez renvoyer vers la conversation avec le donneur, pour convenir des modalités d’échange.</p>
    </details>
    <details>
      <summary>
        <h2>Mon profile</h2>
      </summary>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, dignissimos.
    </details>
    <details>
      <summary>
        <h2>Les messages</h2>
      </summary>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, dignissimos.
    </details>
    <details>
      <summary>
        <h2>L'état du produit réceptionné</h2>
      </summary>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, dignissimos.
    </details>
    <details>
      <summary>
        <h2>Les points relais partenaires</h2>
      </summary>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, dignissimos.
    </details>
    <details>
      <summary>
        <h2>Un probleme avec donneur/receveur</h2>
      </summary>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, dignissimos.
    </details>
  </div>
</ion-content>
























