
<ion-content>
  <div class="ion-padding content">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tab/accueil" icon="/assets/images/Retour en arriere.svg" text=""></ion-back-button>
    </ion-buttons>
    
    <ion-avatar>
      <img src="{{url}}" />
    </ion-avatar>
    <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512">
      <title>Add</title>
      <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"
        d="M256 112v288M400 256H112" />
    </svg>
    <p>Champs obligatoires* </p>
    
    <ion-list>
      <form [formGroup]="form" (ngSubmit)="update()">
        <ion-item>
          <label for="file">Photo de profil</label>
          <input type="file" id="file" #userPhoto (change)="onFileSelected($event)" name="image" autocomplete="off" />
        </ion-item>
        <ion-item>
          <ion-input formControlName="firstname" placeholder="Prénom*" value="{{prenom}}" required="true"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input formControlName="lastname" placeholder="Nom*" value="{{nom}}" required="true"></ion-input>
        </ion-item>
        <ion-item>
          <ion-datetime-button datetime="datetime" ></ion-datetime-button>
          <ion-modal [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime formControlName="birth" presentation="date" id="datetime" value="{{birth}}" required="true"></ion-datetime>
            </ng-template>
          </ion-modal>
        </ion-item>
        <ion-item>
          <ion-input formControlName="postalCode" placeholder="Ville* (code postal)" value="{{ville}}" required="true"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input formControlName="bio" placeholder="Bio (parlez-nous de vous)" value="{{bio}}" required="false"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Notifications messages</ion-label>
          <ion-toggle formControlName="bmessages" checked="{{bmessages}}"></ion-toggle>
        </ion-item>
        <ion-item>
          <ion-label>Notifications actualités</ion-label>
          <ion-toggle formControlName="bnews" checked="{{bactus}}"></ion-toggle>
        </ion-item>
        <ion-item>
          <ion-label>Engagement sur l'honneur</ion-label>
          <ion-toggle formControlName="bhonor" checked="{{bhonneur}}"></ion-toggle>
        </ion-item>
        <ion-item >
          <ion-label text-wrap>Vos données peuvent être récoltées pour que nous puissions les analyser et cconnaître nos performances.</ion-label>
          <ion-toggle formControlName="bdata" checked="{{bdonnees}}"></ion-toggle>
        </ion-item>
        <ion-button type="submit" class="center" [disabled]="!form.valid">Enregistrer</ion-button>
      </form>
    </ion-list>
  </div>
</ion-content>