ion-buttons {
    position: relative;
    padding-top: 70px;
}

ion-avatar {
    margin: auto;
    margin-top: -40px;
    width: 120px;
    height: 120px;
    border: solid #EF445D;
}


ion-content {
    --background: url('/assets/images/Background.svg') 0 0/100% 100% no-repeat;
    background-color: white;
}

ion-list {
    text-align: center;
    
}

ion-list {
    background-color: transparent;
}

ion-item {
    color: #EF445D;
    --background: transparent;
}

strong {
    color: #EF445D;
}

ion-datetime {
    color: #EF445D;
}

.add {
    text-align: center;
    font-size: 30px;
    color: #007CBE;
    background-color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    left: 50%;
    position: relative;
}

svg {
    width: 40px;
    color: #007CBE;
    position: relative;
    left: 50%;
    top: -15px;
    background-color: white;
    border-radius: 50%;
    border: solid #EF445D;
}

input[type="file"] {
    color: #EF445D;
}

ion-toggle {
    --background-checked: #00AF54;
    --background: #EF445D;
}

#date {
    --background:#EF445D;
}

.enregistrer {
    margin-top: 20px;
    --background:#EF445D;
}