
<ion-content>
  <div class="ion-padding content">
    <ion-avatar>
      <img src="{{url}}" />
    </ion-avatar>
    <label>
      <input type="file" id="file" #userPhoto (change)="onFileSelected($event)" name="image" autocomplete="off" style="display:none;" />
      <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512">
        <title>Modifier la photo de profil</title>
        <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"
          d="M256 112v288M400 256H112" />
      </svg>
    </label>
    <p><strong>Champs obligatoires* </strong></p>
    
    <ion-list>
      <form [formGroup]="form" (ngSubmit)="update()">
        <ion-item>
          <ion-input formControlName="firstname" placeholder="Prénom*" value="{{prenom}}" required="true"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input formControlName="lastname" placeholder="Nom*" value="{{nom}}" required="true"></ion-input>
        </ion-item>
        <ion-item>
          <ion-button id="date">{{birthFormat}}</ion-button>
          <ion-datetime-button datetime="datetime" hidden="true"></ion-datetime-button>
          <ion-modal trigger="date" [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime formControlName="birth" presentation="date" id="datetime" value="{{birth}}" required="true"></ion-datetime>
            </ng-template>
          </ion-modal>
        </ion-item>
        <ion-item>
          <ion-input formControlName="postalCode" placeholder="Ville* (code postal)" value="{{ville}}" required="true"></ion-input>
        </ion-item>
        <ion-item>
          <ion-textarea formControlName="bio" placeholder="Bio (parlez-nous de vous)" value="{{bio}}" required="false" autoGrow></ion-textarea>
        </ion-item>
        <ion-item>
          <ion-label>Notifications messages</ion-label>
          <ion-toggle formControlName="bmessages" checked="{{bmessages}}"></ion-toggle>
        </ion-item>
        <ion-item>
          <ion-label>Notifications actualités</ion-label>
          <ion-toggle formControlName="bnews" checked="{{bactus}}"></ion-toggle>
        </ion-item>
        <ion-item>
          <ion-label>Engagement sur l'honneur</ion-label>
          <ion-toggle formControlName="bhonor" checked="{{bhonneur}}"></ion-toggle>
        </ion-item>
        <ion-item style="margin-top: 60px;">
          <ion-label text-wrap>Vos données peuvent être récoltées pour que nous puissions les analyser et cconnaître nos performances.</ion-label>
          <ion-toggle formControlName="bdata" checked="{{bdonnees}}"></ion-toggle>
        </ion-item>
        <ion-button  type="submit" class="center enregistrer" [disabled]="!form.valid">Enregistrer</ion-button>
      </form>
    </ion-list>
  </div>
</ion-content>