<ion-content>
<div class="content" style="padding-top: 75px;">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tab/accueil" icon="/assets/images/Retour en arriere.svg" text=""></ion-back-button>
    </ion-buttons>
    <div class="ion-padding" style="text-align: center;">
      <ion-avatar>
        <img src="{{userPhoto}}" routerLink="/tab/profil/{{annonce.uid}}">
      </ion-avatar>
      <div style="text-align: left; margin-top: -140px;">
        <p class="profilLink" style="text-align: right;" routerLink="/tab/profil/{{annonce.uid}}">Voir le profil</p>
        <img class="pommy" src="/assets/images/Pommy 1.png">
        
      </div>
      <div style="background-image: url({{annoncePhoto}}); background-size: cover; background-color: white;" class="photo">
      </div>
      <img class="aliment" src="{{alimentPhoto}}">
      <!--<ion-icon class="favoris" style="color: #EF445D;" name="heart" (click)="updateFavoris()" *ngIf="fav"></ion-icon>
      <ion-icon class="favoris" name="heart-outline" (click)="updateFavoris()" *ngIf="!fav"></ion-icon>-->
        <img src="/assets/images/Heart.svg" class="favoris" (click)="updateFavoris()" *ngIf="!fav">
        <img src="/assets/images/HeartFilled.svg" class="favoris" (click)="updateFavoris()" *ngIf="fav">
      <div id="ellipse">
      </div>
      <h1>{{annonce.title}}</h1>
      <p style="text-align: left; color: #EF445D;">{{annonce.description}}</p>
      <p style="text-align: left; color: #FBB13C;">
        <img src="/assets/images/mdi_bell-warning.svg"> <span (click)="goToConv()">Je réserve le produit ! </span>
      </p>
      <p style="text-align: left; color: #FBB13C;">
        <img src="/assets/images/prelais.svg"> <span (click)="pointRelai()">Voir le point relais choisi </span>
      </p>
    </div>
  </div>
  </ion-content>