ion-avatar {
    margin: auto;
    width: 120px;
    height: 120px;
    outline: solid #EF445D;
}

.photo {
    width: 100%;
    height: 200px;
    margin-top: -10px;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
}

h1 {
    color: #EF445D;
}

p {
    img {
        border: solid 1px #FBB13C;
        border-radius: 50%;
        margin: 7px;
        width: 30px;
        height: 30px;
    }
}

.profilLink {
    color: #EF445D;
}

.pommy {
    color: #EF445D;
    margin-top: -100px;

}


.content {
    background: url('/assets/images/Background.svg') 0 0/100% 100% no-repeat;
}

.aliment {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 28px;
    top: 345px;
    border: solid 1px #FBB13C;
    margin: 7px;
    border-radius: 50%;
    background-color: white;
}

.favoris {
    position: absolute;
    right: 28px;
    top: 350px;
    width: 40px;
    height: 40px;
}