<div routerLink="/tab/annonce/{{annonce.id}}" *ngIf="annonce != undefined">
  
  <ion-grid>
    <ion-row>
      <ion-col>
        <img class="annonceImage" src="{{annonce.photos[0]}}">

      </ion-col>
    </ion-row>
    <ion-row class="info-row ion-align-items-start ion-justify-content-between">
      <ion-col class="ion-align-self-start" style="text-align: left; margin-left: -6px;">
        <ion-chip>{{annonce.title}}</ion-chip>

      </ion-col>
      <ion-col >
        <ion-avatar>
          <img src="{{userImageURL}}">
        </ion-avatar>
      </ion-col>

      <ion-col>
        <ion-grid>
          <ion-row>
            <ion-col style="text-align: right;">
              <ion-icon *ngIf="fav" name="heart"></ion-icon>
              <ion-icon *ngIf="!fav" name="heart-outline"></ion-icon>
            </ion-col>
          </ion-row>
          <ion-row>
            <!-- <ion-col class="ion-align-self-start" style="text-align: right;">
              <img class="stars" src="/assets/images/StarFilled.svg">
              <img class="stars" src="/assets/images/StarFilled.svg">
              <img class="stars" src="/assets/images/StarFilled.svg">
            </ion-col> -->
          </ion-row>
        </ion-grid>
         
      </ion-col>

    </ion-row>
  </ion-grid>


  <!--<div class="aliment">{{annonce.aliment}}</div>-->

</div>


