div {
    height: 80px;
    background-color: white;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
    border: solid black 1px;
    margin-bottom: 30px;
}

.src {
    margin-top: 15px;
    margin-left: 10px;
    border: solid #EF445D 3px;
}

p {
    text-align: left;
    color: black;
}


.status {
    margin-top: 40px;
}