<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>ECO WASTE</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
  
    <ion-list>
      <ion-item nav-clear menu-close >TODO</ion-item>
      <ion-item nav-clear menu-close >TODO</ion-item>
      <ion-item nav-clear menu-close >TODO</ion-item>
      <ion-item nav-clear menu-close >...</ion-item>
    </ion-list>
  
  </ion-content>

  <ion-footer class="bar-stable">
    <ion-item nav-clear menu-close (click)="logout()" style="left:0;right:0;margin:0; width: 100%;position: fixed;bottom:0;">Déconnexion
    </ion-item>
  </ion-footer>
</ion-menu>