.image {
    cursor: pointer;
}



ion-toolbar, ion-tab-bar {
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: auto;
        height: 50px;
    }

    ion-avatar {
        img {
            margin-top: 10%;
            height: 45px;
            width: 45px;
        }
    }
    --background: #EF445D;
    height: 65px;
}

ion-icon, ion-label {
    color: white;
}

ion-item {
    color: #EF445D;
}

ion-back-button {
    padding-right: 10px;
}

ion-badge {
    --background: #8C00AF;
}