<ion-content class="ion-padding">
  <div class="ion-text-center" style="margin-top: 5%; margin-bottom: 7%">
    <h1>Créer un compte</h1>
  </div>
  
  <ion-list>
    <form [formGroup]="form" (ngSubmit)="inscription()">
      <p style="text-align: left; padding-left: 5%;">Champs obligatoires*</p>
      <ion-item>
        <ion-label position="stacked"></ion-label>
        <ion-input type="email" formControlName="email" placeholder="Email*" [required]="true"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked"></ion-label>
        <ion-input formControlName="password" placeholder="Mot de passe*" type="password" [required]="true">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked"></ion-label>
        <ion-input formControlName="password2" placeholder="Confirmer le mot de passe*" type="password" [required]="true">
        </ion-input>
      </ion-item>
      <ion-button type="submit" [disabled]="!form.valid">Créer</ion-button>
    </form>
  </ion-list>
  <p style="text-align: center;">Vous avez déjà un compte ? <strong (click)="goToLogin()">Connectez-vous</strong></p>
  <ion-grid>
    <ion-row>
      <ion-col size="3"></ion-col>
      <ion-col size="2">
        <img src="https://upload.wikimedia.org/wikipedia/commons/6/60/Tramway_de_Québec_%281897%29_-_Cercle_blanc.svg" />
      </ion-col>
      <ion-col size="2">
        <img src="https://upload.wikimedia.org/wikipedia/commons/6/60/Tramway_de_Québec_%281897%29_-_Cercle_blanc.svg" />
      </ion-col>
      <ion-col size="2">
        <img src="https://upload.wikimedia.org/wikipedia/commons/6/60/Tramway_de_Québec_%281897%29_-_Cercle_blanc.svg" />
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-card color="danger">
    <ion-card-content [hidden]="!error">
      {{errorMessage}}
    </ion-card-content>
  </ion-card>
</ion-content>
